@import url(https://fonts.googleapis.com/css?family=Muli:400,400italic);

body {
    font-family: 'Muli', 'Verdana', sans-serif;
    line-height: 1.6em;
}

.container {
    margin-top: 3em;
}

div, ul, li {
    border: none !important;
    box-shadow: none !important;
}

li {
    padding-left: 0 !important;
}

.panel-heading {
    padding-left: 0 !important;
    color: #44001A;
}

.sidebar {
    float: left;
    text-align: left;
}

#mugshot {
    max-width: 85%;
}

#contact > div {
    padding-left: 0;
    margin-left: 0;
}

@media (min-width: 992px) {
    .sidebar {
        float: right;
        text-align: right;
    }

    #contact > div {
        padding-right: 0;
        margin-right: 0;
    }
}

#bio {
    font-size: 1.1em;
}

.nocp {
    width: 0;
    height: 0;
    display: inline-block;
	  /* CSS3 standard */
	  opacity: 0;
}

.pub-title {
    font-weight: 600;
}

.pub-type {
    font-style: italic;
    font-size: 0.8em;
}

.pub-venue {
    font-style: italic;
}

.pub-authors {
    font-size: 0.9em;
}

.pub {
    font-size: 0.78em;
}

a {
  text-decoration: underline;
  color: #333;
}

a:hover {
  background: #aee;
}

.newsflash {
    font-size: 1.1em;
    font-weight: 800;
    color: #3366ff;
}

ul {
    margin-bottom: 0;
    margin-top: 0;
}

.block {
    margin-top: 15px;
}

img.companyicon{
    max-width:10px;
}

img.projecticon{
    max-width:20px;
}
